@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply border rounded px-3 py-2 w-full text-sm focus:ring-2 focus:ring-red-700 outline-none transition;
}

.btn-primary {
  @apply bg-red-700 text-white hover:bg-red-800 focus:ring-red-900 transition;
}
